@media screen and (max-width: 1274px) {
  .menu-item {
    font-size: 16px;
    line-height: 20px;
  }
  .travego-btn {
    padding: 10px 12px;
  }
}
@media screen and (max-width: 1120px) {
  .subscirbe .search-btn {
    left: 58%;
  }
}
@media screen and (max-width: 1024px) {
  /* mobile menu  */
  .nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .menu-link {
    background: #f1faee !important;
    z-index: 999;
    width: 100%;
  }
  .menu-item {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    z-index: 999 !important;
  }
  .book-btn {
    display: none;
  }
  .mobile-menu-check,
  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon {
    color: #00928d;
    font-size: 30px;
    display: block;
    position: absolute;
    top: 2px;
    left: 70%;
    pointer-events: none;
  }
  .menu {
    position: relative;
  }
  .mobile-menu-check {
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    background: #000;
    position: absolute;
    left: 70%;
    top: 7px;
  }

  .menu .mobile-menu-check:checked ~ .menu-link {
    /* position: absolute; */
    opacity: 1;
    visibility: visible;
    height: 25%;
    z-index: 999;
    margin-top: 40px;
    margin-left: 24px;
  }

  .menu .menu-link {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 200px;
    position: relative;
    top: 20px;
  }

  .subscirbe .search-btn {
    left: 76%;
  }
}

/* @media screen and (max-width: 824px) {
  .mobile-menu-icon {
    left: 70%;
  }
  .mobile-menu-check {
    left: 65%;
  }
} */

@media screen and (max-width: 768px) {
  /* .mobile-menu-icon {
    left: 70%;
  }
  .mobile-menu-check {
    left: 50%;
  } */
  .section-title {
    font-size: 30px;
  }
  .weekend-text .section-title {
    font-size: 28px;
  }
  .search-btn {
    left: 55%;
  }
  .subscirbe .search-btn {
    left: 70%;
  }
  .subscirbe .section-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 400px) {
  .section-title {
    font-size: 20px;
  }
  .search-btn {
    left: 48%;
  }
  .subscirbe .search-btn {
    left: 60%;
  }
}
