* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;500;700&display=swap");

/* body font  */
body {
  font-family: "Montserrat", sans-serif;
}

/* heading and anchor font  */
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

/* commun styles  */
a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  padding: 0;
  list-style: none;
}

.travego-btn {
  background: #00928d;
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%);
  transition: 0.4s;
  position: relative;
  z-index: 999;
}

.travego-btn:hover {
  background: #006d77;
}

/* nav-bar start */

/* .nav-bar {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  justify-content: center;
  align-items: center;
} */
/* .menu-item:first-child {
  color: #00928d;
} */
/* navbar  */
.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

.menu-item {
  font-size: 18px;
  color: #0a0951;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  padding: 5px 15px;
  position: relative;
}

.menu-item:first-child {
  color: #00928d;
}

.menu-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  background: #00928d;
  transition: 0.6s;
  opacity: 0;
  visibility: hidden;
}

.menu-item::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 0px;
  width: 0%;
  background: #00928d;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}

.menu-item:hover {
  color: #00928d !important;
}

.menu-item:hover.menu-item::after {
  width: 100%;
  height: 1px;
  opacity: 1;
  visibility: visible;
}

.menu-item:hover.menu-item::before {
  width: 100%;
  height: 1px;
  opacity: 1;
  visibility: visible;
}

/* nav-bar end  */

/* hero-section */
.section-title {
  color: #0a0951;
  font-size: 60px;
  line-height: 1.1em;
  font-weight: 700;
}

.hero-section {
  background-image: url(../images/dot-dot.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-svg {
  position: absolute;
  top: 20px;
  left: -20px;
}

.hero-svg img {
  width: 230px;
}

.hero-feature {
  color: #00928d;
  font-size: 16px;
  font-weight: 400;
}

.search-field {
  background: #fff;
  display: inline-block;
  width: 70%;
  padding: 10px 20px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 4px 9px 11px 0px rgba(202, 202, 202, 0.75);
  outline: none;
  position: relative;
}

.search-btn {
  position: absolute;
  left: 60%;
  padding: 5px 10px;
  top: 20%;
}

/* hero section end  */

/* brand-section start  */
.brand-section {
  background: #f0f8f8;
  border-radius: 28px;
}

/* brand-section end */

/* travels-weekend-section start */
.weekend-text .section-title {
  font-size: 45px;
}

.weekend-svg {
  position: absolute;
  top: 250px;
  right: -20px;
  transform: rotate(180deg);
}

.weekend-svg img {
  width: 150px;
}

.all-person .person {
  margin-left: -5px;
}

.person img {
  width: 50px;
}

.person:last-child {
  background: #e3e3e3;
  color: #00928d;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

/* travels-weekend-section end  */

/* Rating Slider Start */
.section {
  background-image: url(../images/Ellipse\ 590.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.angle {
  display: flex;
}
.rating-h1 {
  color: #0a0951;
}

.left-angle {
  border: 2px solid #00928d;
  color: #00928d;
  width: 45px;
  height: 45px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  font-size: 25px;
}

.right-angle {
  border: 2px solid #00928d;
  color: white;
  background-color: #00928d;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  font-size: 25px;
}

.rating-h4 {
  color: #0a0951;
}
.ranking-card {
  background: linear-gradient(
    99.1deg,
    #ffffff 0.49%,
    rgba(255, 255, 255, 0.84) 103.28%
  );
  box-shadow: 11px 38px 92px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  left: 40px;
  top: -72px;
  padding: 30px;
}
/* Rating Slider End */

/* footer section start  */

/* newsletter-section  */
.newsletter-section {
  background: #00928d;
  background-image: url(../images/wave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.subscirbe .section-title {
  font-size: 45px;
  color: #fff;
}
.subscirbe .search-field {
  box-shadow: none;
}
.subscirbe .search-btn {
  left: 60%;
}

/* footer  */
.footer-section .menu-item {
  color: #717081;
  font-weight: 400;
  padding: 0;
}
.footer-section .menu-item:hover {
  color: #00928d;
}
.copy-right {
  background: #222f3e;
}
.copy-right p {
  font-weight: 400;
  font-size: 14px;
}
.developer {
  color: #f6e58d;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}
.social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #00928d;
  border-radius: 50%;
  color: #00928d;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
}
.social-icons a:hover {
  background: #00928d;
  color: #fff;
}
/* footer section end */
  /* color: #0A0951;
} */

.ranking-card {
  background: linear-gradient(99.1deg, #FFFFFF 0.49%, rgba(255, 255, 255, 0.84) 103.28%);
  box-shadow: 11px 38px 92px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-right: -37px;
  margin-left: 37px;
  margin-top: -50px;
  padding: 20px;
}

/* Rating Slider End */


/* Choose Us Start */
.not-contained-icon {
  border: 1px solid #00928d;
  color: #00928d;
}

.contained-icon {
  color: white;
  background-color: #00928d;
}

.choose-title {
  color: #0A0951;
}

/* Choose Us End */


/* ---------------------------- */
/* Media Query */
@media only screen and (max-width: 600px) {
  .ranking-card{
    margin-top: 15px;
    margin-right: 0px;
  margin-left: 0px;
  }
  .choose-sec{
    flex-direction: column-reverse;
  }
  .choose-info{
    flex-direction: column;
  }
}
