/* tour hero section  */
.tour-hero-section {
  background: #f1faee;
}
/* tour-packages-section */
.tour-packages-section .section-title {
  font-size: 30px;
}
/* tour card  */
.card-top {
  overflow: hidden;
}
.tour-card img {
  transform: scale(1);
  transition: 0.5s;
}
.tour-card img:hover {
  transform: scale(1.2) rotate(1deg);
}
.tour-card .badge {
  background: #e63946;
  color: #fff;
  border-radius: 5px;
  width: 90px;
  text-align: center;
  position: relative;
  top: -38px;
}
